In [1]:
import pandas as pd

In [5]:
customers = pd.read_csv('data/customer_id.csv')
transactions = pd.read_csv('data/transaction_id.csv')

customers = customers.rename(columns={'Customer ID': 'customer_id', 'Gender': 'gender', 'Age': 'age',
                                      'Income (USD/Month)': 'income'})
transactions = transactions.rename(columns={'Transaction ID': 'transaction_id', 'Customer ID': 'customer_id',
                                            'Payment_Mode': 'payment_mode'})

In [6]:
df = customers.merge(transactions, on='customer_id', how='outer')

In [7]:
df.head()

   customer_id gender  age  income  transaction_id payment_mode
0        29290   Male   28   10813        10000011         Card
1        29290   Male   28   10813        10351127         Cash
2        29290   Male   28   10813        10412921         Card
3        27703   Male   27    9237        10000012         Card
4        27703   Male   27    9237        10320494         Card