In [1]:
import pandas as pd

df = pd.read_csv('data/customers_transactions.csv')
df.head()

   customer_id gender  age  income  transaction_id payment_mode
0        29290   Male   28   10813        10000011         Card
1        29290   Male   28   10813        10351127         Cash
2        29290   Male   28   10813        10412921         Card
3        27703   Male   27    9237        10000012         Card
4        27703   Male   27    9237        10320494         Card